<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SalesLeadsManagementSystem.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
    <userSettings>
        <SalesLeadsManagementSystem.Properties.Settings>
            <setting name="Col1" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Col2" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Col3" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Col4" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Col5" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Col6" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Col7" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Col8" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Col9" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Col10" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Col11" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Col12" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Col13" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Col14" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Col15" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Col16" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Col17" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Col18" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Col19" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Col20" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Col21" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Col22" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Col23" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Col24" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Col25" serializeAs="String">
                <value>True</value>
            </setting>
        </SalesLeadsManagementSystem.Properties.Settings>
    </userSettings>
</configuration>